@tailwind base;
@tailwind components;
@tailwind utilities;

.price {
  font-weight: bold;
}

/* smoothie grid */
.smoothie-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.description {
  width: 100%;

  box-sizing: border-box;
  border-radius: 6px;
  position: relative;

  padding: 20px;
  max-width: 480px;
  /* margin: 0 auto; */
  border-radius: 6px;
  background-color: rgba(238, 238, 238, 0.566);
}
.smoothie-card .rating {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}

/* forms */
form {
  padding: 20px;
  max-width: 480px;
  /* margin: 0 auto; */
  border-radius: 6px;
  background-color: rgba(238, 238, 238, 0.566);
}

.message {
  padding: 20px;
  margin-top: 10px;
  max-width: 480px;
  /* margin: 0 auto; */
  border-radius: 6px;
  background-color: rgba(238, 238, 238, 0.566);
}

.success {
  background-color: #4ade80;
}

.error {
  background-color: #fde047;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
}
form button {
  background: var(--primary);
  color: #333;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;

  cursor: pointer;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

.rating {
  transition: box-shadow 0.2s;
  color: #fff;
  border-radius: 10%;
}

.rating-na {
  color: rgba(31, 41, 55, 0.8);
}

.rating-2 {
  background-color: #fee2e2;
}

.rating-3 {
  background-color: #ffb1b1;
}

.rating-4 {
  background-color: #ffb1b1;
}

.rating-5 {
  background-color: #cfecde;
}

.rating-6 {
  background-color: #b7e2cd;
}

.rating-7 {
  background-color: #9fd9bd;
}

.rating-8 {
  background-color: #87cfac;
}

.rating-9 {
  background-color: #6fc59b;
}

.rating-10 {
  background-color: #57bb8a;
}

.p-paginator {
  background: #ffffff;
  color: #6c757d;
  border: solid #e9ecef;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none;
  color: #6c757d;
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;
  border-radius: 10%;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: #e9ecef;
  border-color: transparent;
  color: #343a40;
}
.p-paginator .p-paginator-first {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.p-paginator .p-paginator-last {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.p-paginator .p-dropdown {
  margin-left: 0.5rem;
  height: 2.5rem;
}
.p-paginator .p-dropdown .p-dropdown-label {
  padding-right: 0;
}
.p-paginator .p-paginator-page-input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.p-paginator .p-paginator-page-input .p-inputtext {
  max-width: 2.5rem;
}
.p-paginator .p-paginator-current {
  background-color: transparent;
  border: 0 none;
  color: #6c757d;
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
  padding: 0 0.5rem;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent;
  border: 0 none;
  color: #6c757d;
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0.143rem;
  transition: box-shadow 0.2s;

  border-radius: 10%;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f3f4f6;
  border-color: #eef2ff;
  font-weight: bold;
}
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: #e9ecef;
  border-color: transparent;
  color: #343a40;
}

.p-datatable-table th {
  background-color: rgba(238, 238, 238, 0.566);
  padding: 10px;
}

tr.p-row-odd {
  background: #f3f4f6;
}
